<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY']}&libraries=places">
  </script>
  <title></title>
</head>
<body>
    <div class="containter">
      <% if @errors%>
      <p><%= @errors.first %></p>
      <% end %>
    </div>
  <nav>
    <div class="brand"><a href="/">Shared Meal</a>
    </div>
    <ul>
      <% if current_user %>
        <li><a href="/sessions/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>




